.benefitsWrapper {
  display: flex;
  flex-direction: column;
}
.benefitsContainer {
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
  border: 1px solid rgb(190, 189, 189);
  border-top: 0;
  border-bottom: 0;
}
.benefitsMainTitle {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 1px solid rgb(190, 189, 189);
  border-bottom: 0;
  border-top: 0;
  box-sizing: border-box;
}
.benefitsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.benefitsTitle img {
  align-items: center;
}
.benefitsSubtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 20%;
  width: 470px;
  text-align: left;
  padding: 20px 30px 20px 20px;
}
.benefitsSubtitle h3 {
  padding-bottom: 1%;
}
