.aboutUsContainer {
  height: 623px;
  flex-direction: column;
  background: rgba(231, 242, 239, 0.5);
  border: 1px solid rgb(190, 189, 189);
  border-top: 0;
  border-bottom: 0;
  padding: 0 20px;
}
.slider-control-centerright button {
  font-size: 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px;
  background-image: url("../../img/caruselBtn.svg") !important;
}
.slider-control-centerleft button {
  font-size: 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px;
  background-image: url("../../img/caruselBtn.svg") !important;
}
.slider-slide {
  margin-top: 5% !important;
}
.paging-dot {
  padding: 3px !important;
}
.aboutUsTitle {
  font-size: 30px;
  font-weight: 700;
  margin-top: 5%;
}
