.mainWrapper {
  box-sizing: border-box;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}
/* .mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* стили для Navbar.js */
.bg-color,
.bg-white {
  height: 100px;
  max-width: 1600px;
  width: 100%;
  position: fixed;
  top: 0;
  /* margin-left: auto;
  margin-right: auto; */
  z-index: 9;
}
.bg-white {
  background: transparent;
}
.bg-color {
  background: linear-gradient(110.34deg, #1565c0 -2.02%, #13f1fc 129.72%);
}
.navbarContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  margin-top: 29px;
}
.burgerMenu {
  display: none;
}
.logo {
  width: 9%;
  margin-left: 5%;
}
.navbarMenu {
  width: 60%;
}
.navbarMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.navbarMenu ul > li {
  margin-left: 5%;
  margin-right: 5%;
}
.navbarMenu ul:first-child {
  margin-left: 5px;
}
.navbarBtn {
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  background: #ffffff;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 148%;
  letter-spacing: 0.02em;
  color: #1565c0;
  margin-left: 5%;
}
a {
  color: #fff !important;
  text-decoration: none !important;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /* display: inline-block; */
  margin-left: 5%;
  z-index: 7;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1565c0;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}
.dropdown-content ul {
  list-style: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* стили для Home.js */
.homeWrapper {
  position: relative;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  min-height: 626px;
  background: linear-gradient(110.34deg, #1565c0 -2.02%, #13f1fc 129.72%);
}
.homeContainer {
  display: flex;
  flex-direction: row;
}

.homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
  margin-left: auto;
  width: 45%;
  min-height: 450px;

  font-weight: normal;
  color: #fff;
  z-index: 2;
}
.homeTitle {
  height: 124px;
  width: 432px;
  font-size: 2em;
  margin-top: 5%;
}
.homeSubtitle {
  height: 66px;
  width: 400px;
  font-size: 1em;
  line-height: 24px;
  padding: 30px 30px 30px 0;
}
.homeButtons {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.homeButtons button {
  width: 190px;
  height: 60px;
  font-size: 0.875em;
  border-radius: 10px;
}

.BtnTry button {
  background-color: #fff;
  border: none;
  color: #1565c0;
  cursor: pointer;
  margin-right: 20px;
}
.BtnAbout button {
  color: #fff;
  background-color: Transparent;
  border: 1px solid #fff;
  cursor: pointer;
}
.homeImgContainer {
  display: flex;
  margin-top: 80px;
  margin-right: auto;
}
.homeImg {
  width: 100%;
}
/* стили для HowWork.js */
.howWorkWrapper {
  display: flex;
  flex-direction: column;
  min-height: 747px;
  border: 1px solid rgb(190, 189, 189);
}
.howWorkContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.howWorkTitle {
  text-align: center;
  font-size: 1.875em;
  font-weight: 700;
  padding: 50px;
}

.regTitle,
.signTitle {
  font-size: 1.375em;
  font-weight: 700;
  text-align: right;
  margin-bottom: 10px;
}
.bookTitle {
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.leftText {
  width: 45%;
}
.imgBlock {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightBlock {
  width: 45%;
  margin-top: 100px;
}
.emptyBlock {
  min-height: 140px;
}
.regSubtitle,
.signSubtitle {
  text-align: end;
}
.regSubtitle {
  min-height: 55px;
}
.bookSubtitle {
  text-align: start;
  min-height: 95px;
}
.signSubtitle {
  min-height: 90px;
}
.dot {
  width: 24px;
  height: 24px;
  background-color: rgba(117, 87, 142, 0.2);
  border-radius: 50%;
  margin: 2px;
}
.dotB {
  width: 24px;
  height: 24px;
  background-color: #1565c0;

  border-radius: 50%;
  margin: 2px;
}
.dotG {
  width: 24px;
  height: 24px;
  background-color: rgba(33, 216, 222, 0.2);

  border-radius: 50%;
  margin: 2px;
}
.bookBlock {
  display: flex;
  flex-direction: row-reverse;
}

.pointsImg {
  border: 1px solid rgba(117, 87, 142, 0.2);
  border-radius: 50%;
}
.pointsImgB {
  border: 1px solid #1565c0;
  border-radius: 50%;
}
.pointsImgG {
  border: 1px solid rgba(33, 216, 222, 0.2);
  border-radius: 50%;
}
.line {
  border-left: 1px solid rgba(145, 158, 171, 0.4);
  height: 130px;
}
.linkPlace {
  height: 100px;
}
/* стили для Avtorep.js */
.avtoRepContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 430px;
  background: url("../../img/avtoRep.svg") 0 0 no-repeat,
    linear-gradient(110.34deg, #1565c0 -2.02%, #13f1fc 129.72%) 0 0 no-repeat;
  color: #fff;
}
.avtoRepTitle {
  font-size: 1.875rem;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 20px;
}
.avtoRepSubtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  min-height: 66px;
  max-width: 502px;
  text-align: center;
}
.avtoRepBtn {
  padding: 35px;
}
.avtoRepBtn button {
  width: 266px;
  height: 61px;
  border-radius: 10px;
  border: 0;
  color: #1565c0;
}
/* стили для  WhyBetter */
.whyBetterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 700px;
  color: #000;
  border: 1px solid rgb(190, 189, 189);
  border-bottom: 0;
  border-top: 0;
}
.whyBetterTitle {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
  padding-top: 2%;
  padding-bottom: 2%;
  border-left: 1px solid rgba(145, 158, 171, 0.4);
  border-right: 1px solid rgba(145, 158, 171, 0.4);
  border-bottom: 0;
  box-sizing: border-box;
}
.whyBetterSubtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  min-height: 30%;
  width: 30%;
  text-align: left;
  margin: 1%;
  padding: 40px 50px 40px 30px;
  box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
  border-radius: 15px;
}
.whyBetterSubtitleTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 136%;
  color: #25282b;
  padding-bottom: 15px;
}

/* стили для блока benefits*/
.benefitsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefitsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #000;
  border: 1px solid rgb(190, 189, 189);
  border-top: 0;
  border-bottom: 0;
}
.benefitsMainTitle {
  text-align: center;
  font-size: 1.875em;
  font-weight: 700;
  padding-top: 2%;
  padding-bottom: 2%;
  border-left: 1px solid rgba(145, 158, 171, 0.4);
  border-right: 1px solid rgba(145, 158, 171, 0.4);
  border-bottom: 0;
  border-top: 0;
  box-sizing: border-box;
}
.benefitsPoint {
  display: flex;
  flex-direction: row;
}
.benefitsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 136%;
  color: #25282b;
}
.benefitsTitle img {
  align-items: center;
}
.benefitsSubtitle {
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #595e64;
  min-height: 20%;
  max-width: 470px;
  text-align: left;
  padding: 20px 30px 20px 0px;
}

/*carusel about us*/
.smallCarusel {
  display: none;
}
.aboutUsContainer {
  min-height: 623px;
  display: flex;
  flex-direction: column;
  background: rgba(231, 242, 239, 0.5);
  border: 1px solid rgb(190, 189, 189);
  border-top: 0;
  border-bottom: 0;
  padding: 0 20px;
}
.slider-control-centerright button {
  font-size: 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px;
  background-image: url("../../img/caruselBtn.svg") !important;
}
.slider-control-centerleft button {
  font-size: 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 8px;
  background-image: url("../../img/caruselBtn.svg") !important;
}
.slider-slide {
  /* margin-top: 5% !important; */
}
.paging-dot {
  padding: 3px !important;
}
.aboutUsTitle {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 5%;
}
/* tarifs*/
.tarifContainer {
  min-height: 760px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(190, 189, 189);
  border-top: 0;
  border-bottom: 0;
}
.tarif {
  width: 25%;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
}
.tarif:last-child {
  margin-right: 30px;
}
.tarifMainTitle {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 100px;
}
.tarifMainSubtitle {
  text-align: center;
  height: 66px;
  margin-top: 35px;
  font-size: 1em;
  font-weight: normal;
}
.tarifSubtitle {
  font-size: 1em;
  font-weight: normal;
  padding: 15px;
}
.tarifTipes {
  display: flex;
  flex-direction: row;
}
.tarifTitle {
  font-size: 22px;
  font-weight: 700;
  padding: 25px 110px 10px 30px;
}
.tarifSubtitle div {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 0px 5px 0px;
}

.upgradeTarif {
  color: #1565c0;
}
.tarifBtn button {
  width: 238px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #1565c0;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  color: #1565c0;
  margin: 15px;
}
/*footer info*/
.footerInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 700px;
  width: 100%;
  border: 1px solid rgb(190, 189, 189);
  border-top: 0;
  border-bottom: 0;
}

.footerInfoTitle {
  font-size: 1.125rem;
  font-weight: 700;
  padding: 15px 0 10px 15px;
  line-height: 28px;
}
.footerInfoSubtitle {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 10px 0 20px 15px;
  line-height: 20px;
}
/* footer*/
.footerContainer {
  min-height: 705px;
  background: linear-gradient(110.34deg, #1565c0 -2.02%, #13f1fc 129.72%);
}
.footerBlocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.leftBlock {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 10%;
  margin-right: 10px;
}

.footerLogo {
  width: 100px;
  height: 43px;
  /* padding-top: 50px; */
}
.footerFone,
.footerEmail {
  font-size: 1.875rem;
  line-height: 35px;
  color: #fff;
}
.footerFone {
  margin: 30px 30px 0 0px;
}
.footerEmail {
  margin: 10px 30px 35px 0px;
}
.footerCompanyInfo {
  font-size: 1rem;
  color: #fff;
  margin: 35px 35px 35px 0;
}
.footerBtn {
  display: flex;
  flex-direction: row;
}
.gmail,
.facebook {
  background: transparent;
  border: 0;

  border-radius: 50%;
}
.gmail img,
.facebook img {
  width: 100%;
  height: 100%;
  padding: 0;
}
.twitter {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  margin-top: 17px;
  margin-left: 17px;
}

.footerBtn button {
  cursor: pointer;
}
.footerFormBtn button {
  cursor: pointer;
}
.rightBlock {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 10%;
  margin-left: 10px;
}
.rightBlockTitle {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  padding-bottom: 30px;
  /* padding-top: 50px; */
}
.footerForm input {
  height: 50px;
  width: 370px;
  padding: 10px 0 10px 20px;
  margin: 5px;
  border-radius: 10px;
  border: 0;
  background: #6cc5de;
  color: #fff;
}
.footerFormTextarea textarea {
  height: 130px;
  width: 370px;
  padding: 10px 0 10px 20px;
  margin: 5px;
  border-radius: 10px;
  border: 0;
  background: #6cc5de;
  color: #fff;
}
.footerForm button {
  height: 60px;
  width: 200px;
  background: #ffffff;
  border-radius: 10px;
  border: 0;
  font-size: 0.875rem;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #1565c0;
  padding: 10px 0 10px 20px;
  margin-left: 10%;
}
.data {
  margin-top: 40px;
  text-align: center;
}

@media screen and (max-width: 1320px) {
  .navbarBtn {
    margin-right: 0;
    margin-left: 9%;
  }
  .navbarContainer {
    justify-content: left;
  }
  .logo {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1220px) {
  .footerInfoContainer {
    flex-direction: column;
  }
  .tarifTipes {
    flex-direction: column;
    align-items: center;
  }
  .benefitsContainer {
    flex-direction: column;
    align-items: center;
  }
  .bigCarusel {
    display: none;
  }
  .smallCarusel {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .tarif {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 1160px) {
  .navbarContainer {
    justify-content: center;
  }
  .burgerMenu {
    display: inline-block;
    margin-left: 50%;
    width: 60px;
    cursor: pointer;
  }
  .navbarMenu {
    display: none;
  }
  .navbarBtn {
    height: 50px;
  }
  .homeTitle,
  .homeSubtitle {
    margin-left: 17px;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .homeTitle,
  .homeSubtitle {
    margin-left: 17px;
    align-items: center;
  }
  .BtnTry {
    margin-left: 17px;
  }
  .whyBetterContainer {
    flex-direction: column;
    align-items: center;
  }
  .whyBetterSubtitle {
    padding: 5px;
    width: 80%;
  }
  .benefitsSubtitle {
    padding: 5px;
  }
  .footerBlocks {
    flex-direction: column;
  }

  .footerInfoImg {
    width: 80%;
    margin-left: 10%;
  }
  .footerCompanyInfo {
    margin: 5px;
  }
  .leftBlock {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }
  .rightBlock {
    width: 90%;
    margin-left: 5%;
  }
  .footerForm button {
    margin-left: 0;
  }
}
@media screen and (max-width: 580px) {
  .logo img {
    margin-left: 0;
  }
  .navbarContainer {
    justify-content: left;
    margin-left: 10%;
  }

  .homeTitle,
  .homeSubtitle {
    max-width: 375px;
    margin-left: 17px;
    align-items: center;
  }
  .homeButtons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .homeButtons button {
    width: 150px;
    /* margin-left: 17px; */
    margin-top: 15px;
  }
  .BtnTry {
    margin-left: 17px;
  }
  .avtoRepTitle {
    margin-left: 17px;
  }
  .avtoRepSubtitle {
    max-width: 375px;
    width: 100%;
  }
  .whyBetterContainer {
    min-height: 1000px;
    max-width: 375px;
    width: 100%;
    border: 0;
    margin-left: 17px;
  }
  .benefitsContainer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 0;
    margin-left: 17px;
  }
  .benefitsPoint {
    flex-direction: column;
  }
  .aboutUsContainer {
    min-height: 200px;
  }
  .tarifMainTitle {
    margin-top: 0;
  }

  .tarifTipes {
    justify-content: center;
  }
  .tarif {
    width: 80%;
    margin-left: 17px;
  }
  .leftBlock {
    width: 90%;
    margin-left: 5%;
  }
  .rightBlock {
    width: 90%;
    margin-left: 5%;
  }
  .footerForm input {
    height: 50px;
    width: 80%;
  }
  .footerFormTextarea textarea {
    min-height: 130px;
    width: 80%;
  }
}
@media screen and (max-width: 380px) {
  .navbarBtn {
    width: 100px;
    font-size: 0.8rem;
  }
  .navbarContainer {
    max-width: 380px;
    justify-content: center;
  }
  .logo img {
    width: 80px;
    /* margin-left: 0; */
  }
  .dropdown-content {
    margin-top: 50px;
  }
  .homeText {
    justify-content: center;
    margin-top: 100px;
    min-height: 350px;
  }
  .homeTitle {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .homeSubtitle {
    font-size: 0.8rem;
    width: 300px;
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .whyBetterContainer {
    min-height: 1000px;
    margin: 0;
  }
}
