.css-ancrnh-MuiButtonBase-root-MuiIconButton-root {
  display: none !important;
}
.MuiPaper-root {
  background: transparent !important;
  box-shadow: none !important;
  padding-left: 9.5% !important;
  padding-right: 9.5% !important;
}
.MuiButton-root {
  width: 200px !important;
  height: 60px !important;
  background-color: #fff !important;
  color: #1565c0 !important;
  display: block !important;
  font-weight: bold !important;
  font-size: 0.875em !important;
  line-height: 148% !important;
  letter-spacing: 0.02em !important;
  text-transform: none !important;
}

.css-1juivf6-MuiTypography-root {
  font-weight: 500 !important;
  font-size: 1em !important;
  line-height: 100% !important;
  text-align: center !important;
  cursor: pointer !important;
}

@media screen and (max-width: 600px) {
  .css-ancrnh-MuiButtonBase-root-MuiIconButton-root {
    display: block !important;
    margin: 0 50px !important;
  }
  .css-1juivf6-MuiTypography-root {
    display: none !important;
  }
}
.bg-color {
  background: linear-gradient(
    110.34deg,
    #1565c0 -2.02%,
    #13f1fc 129.72%
  ) !important;
}
