.footerInfoContainer {
  height: 500px;
  border: 1px solid rgb(190, 189, 189);
  border-top: 0;
  border-bottom: 0;
}
.footerInfoBlock {
  margin: 30px;
}
.footerInfoTitle {
  font-size: 18px;
  font-weight: 700;
  padding: 15px 0 10px 15px;
  line-height: 28px;
}
.footerInfoSubtitle {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0 20px 15px;
  line-height: 20px;
}
