.css-ancrnh-MuiButtonBase-root-MuiIconButton-root {
  display: none !important;
}
.MuiPaper-root {
  background: transparent !important;
  box-shadow: none !important;
}
.MuiToolbar-root {
  max-width: 1600px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  margin: 0 auto;
}
.MuiButton-root {
  width: 200px !important;
  height: 60px !important;
  background-color: #fff !important;
  color: #1565c0 !important;
  display: block !important;
  font-weight: bold !important;
  font-size: 0.875em !important;
  line-height: 148% !important;
  letter-spacing: 0.02em !important;
  text-transform: none !important;
}

.css-1juivf6-MuiTypography-root {
  font-weight: 500 !important;
  font-size: 1em !important;
  line-height: 100% !important;
  text-align: center !important;
  cursor: pointer !important;
}
a {
  color: #fff !important;
  text-decoration: none !important;
}
